/* Master Styles */
@font-face {
    font-family: 'Coc';
    src: url('../fonts/Supercell-magic-webfont.eot');
    src: url('../fonts/Supercell-magic-webfont.woff') format('woff'), url('../fonts/Supercell-magic-webfont.ttf') format('truetype'), url('../fonts/Supercell-magic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: 'CoC';
  color: #eee;
}
header {
  padding: 2em;
  text-align: center;
  background: rgba(255,255,255,.2);
  box-shadow: 0 1em 2em rgba(0,0,0,.3);
}
a {
  cursor: pointer;
  cursor: hand;
}

label {
  margin-left: 1em;
  color: #BCF;
  display: inline-block;
  min-width: 5em;
}

/* everywhere else */
